#!/bin/sh

C={{ ca_c }}
O={{ ca_c }}
CA_CN="{{ ca_cn }}"
SERVER_CN={{ domain_name }}
#SAN is a subject alternative (like ip address or another hostname)
SERVER_SAN="koma.undo.it"    ### REMOTEID in MACOSX
CONFIG_DIR="/etc/strongswan/ipsec.d"
IPSEC="strongswan"

#Create CA
eval $IPSEC pki --gen --outform pem > $CONFIG_DIR/private/caKey.pem
eval $IPSEC pki --self --in $CONFIG_DIR/private/caKey.pem --dn \"C=$C, O=$O, CN=$CA_CN\" --ca --outform pem > $CONFIG_DIR/cacerts/caCert.pem
# View the X.509 certificate properties
#echo "Root CA"
#eval $IPSEC pki --print --in $CONFIG_DIR/cacerts/caCert.pem

#Generate private key for this VPN host server
eval $IPSEC pki --gen --outform pem > $CONFIG_DIR/private/serverKey.pem
#Generate this VPN host server cert using earlier CA
eval $IPSEC pki --issue --in $CONFIG_DIR/private/serverKey.pem --type priv --cacert $CONFIG_DIR/cacerts/caCert.pem --cakey $CONFIG_DIR/private/caKey.pem --dn \"C=$C, O=$O, CN=$SERVER_CN\" --san=\"$SERVER_SAN\" --flag serverAuth --flag ikeIntermediate --outform pem > $CONFIG_DIR/certs/serverCert.pem
#View newly generated server certificate
#echo "Server sertificate"
#eval $IPSEC pki --print --in $CONFIG_DIR/certs/serverCert.pem
echo "Done server certificates creation"
