# based on https://github.com/Stanback/alpine-strongswan-vpn
# {{ ansible_managed }}

config setup
  uniqueids=no

conn %default
  keyexchange=ikev2
  ikelifetime=60m
  keylife=20m
  rekeymargin=3m
  keyingtries=1
  rekey=no
  mobike=yes
  ike=chacha20poly1305-prfsha256-newhope128,chacha20poly1305-prfsha256-ecp256,aes128gcm16-prfsha256-ecp256,aes256-sha256-modp2048,aes256-sha256-modp1024!
  esp=chacha20poly1305-newhope128,chacha20poly1305-ecp256,aes128gcm16-ecp256,aes256-sha256-modp2048,aes256-sha256,aes256-sha1!
  dpdaction=clear
  dpddelay=120s
  auto=add

conn roadwarrior
   leftcert=serverCert.pem
   leftsendcert=always
   left={{ ansible_default_ipv4.address }}
   leftid={{ domain_name }} # sever alternative (SAN)
   leftsendcert=always
   leftsubnet=0.0.0.0/0,::/0
   leftupdown=/etc/strongswan/ipsec.d/firewall.updown
   right=%any
   rightauth=pubkey
   rightsourceip=172.27.1.200-172.27.1.250,fdef:a51d:f888::/112
   rightdns=8.8.4.4,8.8.8.8,2001:4860:4860::8888
